<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="cart_eventbefore_observer_cartbefore" instance="Moonstarcz\ProductPageDisplay\Observer\CartBefore" />
    </event>

    <event name="checkout_onepage_controller_success_action">
        <observer name="set_orders_item_after_checkout" instance="Moonstarcz\ProductPageDisplay\Observer\CheckoutAfter" />
    </event>

    <event name="sales_order_invoice_pay">
        <observer name="set_class_to_customer_class" instance="Moonstarcz\ProductPageDisplay\Observer\InvoiceAfter" />
    </event>
</config>